
        

          <div class="row placeholders">
            <div class="col-xs-12 col-sm-4 placeholder">
              <span class="badge" style="font-size: 25px" >{{UserCount()}}</span>
             <h4>Users</h4>
              <span class="text-muted">Total count of all users</span>
            </div>
            <div class="col-xs-12 col-sm-4 placeholder">
               <span class="badge" style="font-size: 25px">{{ClientCount()}}</span>
             <h4>Clients</h4>
              <span class="text-muted">Total count of all Clients</span>
            </div>
             <div class="col-xs-12 col-sm-4 placeholder">
               <span class="badge" style="font-size: 25px">{{RolesCount()}}</span>
             <h4>Roles</h4>
              <span class="text-muted">Total count of all Roles</span>
            </div>
           
          </div>


